---
import shows from "../data/schedules/2026-season-3.json";

const now = new Date();
const nextShow = shows
  .filter((show) => {
    const lastScreeningDatePlusOneDay = new Date(
      show.eventDate[show.eventDate.length - 1]
    );
    lastScreeningDatePlusOneDay.setDate(
      lastScreeningDatePlusOneDay.getDate() + 1
    );
    return lastScreeningDatePlusOneDay >= now;
  })
  .sort(
    (a, b) =>
      new Date(a.eventDate[0]).getTime() - new Date(b.eventDate[0]).getTime()
  )[0];

const filmTitle = nextShow?.eventTitle ?? "";
const filmPageId = nextShow
  ? `/#${nextShow.eventTitle.toLowerCase().split(" ").join("-")}`
  : "";
const isMultiDate = (nextShow?.eventDate.length ?? 0) > 1;
const ticketsUrl = nextShow?.ticketsUrl[0]?.url ?? "";
---

<Fragment>
  {nextShow && (
    <div class="marquee">
      <ul class="marquee__content">
        <li>
          <div class="list-item-container">
            <span>Playing Next:</span><span class="italics title">{filmTitle}</span>
            <a href={filmPageId}>More info</a>
            {!isMultiDate && (
              <a href={ticketsUrl} target="_blank" rel="noopener noreferrer">
                Get Tickets!
              </a>
            )}
          </div>
        </li>
        <li>
          <div class="list-item-container">
            <span>Playing Next:</span><span class="italics title">{filmTitle}</span>
            <a href={filmPageId}>More info</a>
            {!isMultiDate && (
              <a href={ticketsUrl} target="_blank" rel="noopener noreferrer">
                Get Tickets!
              </a>
            )}
          </div>
        </li>
      </ul>
      <!-- Mirrors the content above -->
      <ul class="marquee__content" aria-hidden="true">
        <li>
          <div class="list-item-container">
            <span>Playing Next:</span><span class="italics title">{filmTitle}</span>
            <a href={filmPageId}>More info</a>
            {!isMultiDate && (
              <a href={ticketsUrl} target="_blank" rel="noopener noreferrer">
                Get Tickets!
              </a>
            )}
          </div>
        </li>
        <li>
          <div class="list-item-container">
            <span>Playing Next:</span><span class="italics title">{filmTitle}</span>
            <a href={filmPageId}>More info</a>
            {!isMultiDate && (
              <a href={ticketsUrl} target="_blank" rel="noopener noreferrer">
                Get Tickets!
              </a>
            )}
          </div>
        </li>
      </ul>
    </div>
  )}
</Fragment>

<style>
  .marquee {
    --gap: 14rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    background-color: var(--accent);
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 0;
    color: var(--base-dark);
  }
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 100s linear infinite;
  }
  ul {
    list-style: none;
  }
  .list-item-container {
    display: flex;
    align-items: center;
  }
  .title {
    margin-right: 12px;
  }
  .italics {
    font-style: italic;
  }
  a,
  button {
    display: inline-block;
    color: var(--base-dark);
    border: 2px solid var(--base-dark);
    border-radius: 20px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 900;
  }
  a {
    margin-right: 8px;
  }
  button:disabled {
    background-color: var(--accent);
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
