---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import AccentBorderBox from "./AccentBorderBox.astro";
import TicketsLinkButton from "./TicketsLinkButton.astro";
import FilmDetails from "./FilmDetails.astro";

interface Props {
    eventMonth: string;
    eventDate: Array<string>;
    eventLocation: string;
    eventTime: string;
    eventTitle: string;
    bannerImageUrl: string;
    trailerUrl: string;
    ticketsUrl: Array<{ dateString: string; url: string; isSoldOut?: boolean }>;
    description: string;
    films: Array<{
        title: string;
        year: string;
        runtime: string;
        director: Array<string>;
        writer: Array<string>;
        cast: Array<string>;
        composer: Array<string>;
    }>;
    additionalInfo: string;
    sticker?: Record<"url" | "altText" | "className", string>;
}

const {
    eventMonth,
    eventDate,
    eventLocation,
    eventTime,
    eventTitle,
    bannerImageUrl,
    trailerUrl,
    ticketsUrl,
    description,
    films,
    additionalInfo,
    sticker,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/images/movies/**/*.*"
);
if (!images[bannerImageUrl])
    throw new Error(
        `"${bannerImageUrl}" does not exist in glob: "/src/images/movies/**/*.*"`
    );
---

<div
    id={eventTitle.toLowerCase().split(" ").join("-")}
    class="screening-container"
>
    <div class="banner-row">
        <div class="image-container">
            <span class="event-month">{eventMonth}</span>
            {
                sticker && (
                    <Image
                        src={images[sticker.url]()}
                        class={sticker.className}
                        alt={sticker.altText}
                    />
                )
            }
            <Image
                class="movie-banner"
                src={images[bannerImageUrl]()}
                alt={`${eventTitle} movie poster.`}
            />
        </div>
        <div class="event-details">
            <div class="eventTitle">{eventTitle}</div>
            {eventDate.map((date) => <div class="event-date">{date}</div>)}
            <div class="event-location">{eventLocation}</div>
            <div class="event-time">{eventTime}</div>
        </div>
    </div>
    <div class="actions-row">
        <a
            href={trailerUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="button-link">Trailer</a
        >
        <TicketsLinkButton ticketsUrl={ticketsUrl} eventDate={eventDate} />
    </div>
    <AccentBorderBox className="show-description-row">
        <div class="description" set:html={description} />
        <div class="details">
            {films.map((film) => <FilmDetails film={film} />)}
        </div>
    </AccentBorderBox>
    {
        additionalInfo && (
            <AccentBorderBox className="show-description-row">
                <div set:html={additionalInfo} />
            </AccentBorderBox>
        )
    }
    {
        eventTitle === "Punishment Park" && (
            <AccentBorderBox className="show-description-row africans-with-mainframes">
                <div class="africans-with-mainframes-poster-container">
                    <Image
                        class="africans-with-mainframes-poster"
                        src={images[
                            "/src/images/movies/2024/africans-with-mainframes-poster.jpg"
                        ]()}
                        alt={`${eventTitle} movie poster.`}
                    />
                </div>
                <div class="details africans-with-mainframes">
                    <div>
                        All three of our <i>Punishment Park</i> shows will be
                        preceded by a screening of Kima Hibbert's 2023 short
                        film, <i>Africans With Mainframes</i>. We love this
                        short film and are beyond excited to share it with
                        everyone. Kima was directly inspired by Peter Watkins
                        and <i>Punishment Park</i> in particular in the making
                        of this film, which makes this the perfect context to
                        see it. Thanks so much to Kima for allowing us to screen
                        it! This is the only place you can see it currently
                        because it has not been released widely yet.
                    </div>
                    <div>
                        What if electronic music was created by Black
                        sharecroppers in the American South and Kraftwerk was
                        actually a psyop? "Inspired by the genre-less works of
                        Guy Maddin, Peter Watkins, and others, I explore a big
                        idea with a sense of levity." — Kima Hibbert
                    </div>
                    <a
                        href="https://www.lecinemaclub.com/archives/africans-with-mainframes/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button-link"
                    >
                        Read more about Kima and <i>Africans With Mainframes</i>{" "}
                        here.
                    </a>
                </div>
            </AccentBorderBox>
        )
    }
</div>
<style>
    .screening-container {
        margin-bottom: 100px;
    }
    .banner-row {
        display: flex;
    }
    .image-container {
        position: relative;
        flex: 60%;
        max-height: 300px;
        margin-right: 20px;
        align-self: center;
    }
    .event-month {
        position: absolute;
        top: -35px;
        left: 25px;
        font-family: "Archivo Black", sans-serif;
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--base-dark);
        text-shadow:
            -2px -2px 0 var(--accent),
            2px 2px 0 var(--accent),
            2px -2px 0 var(--accent),
            -2px 2px 0 var(--accent),
            0 -2px 0 var(--accent),
            0 2px 0 var(--accent),
            2px 0 0 var(--accent),
            -2px 0 0 var(--accent);
    }
    .seal-sticker {
        position: absolute;
        width: 110px;
        height: auto;
        top: -55px;
        right: 5px;
        transform: rotate(10deg);
    }
    .summer-of-camp-sticker {
        position: absolute;
        width: 210px;
        height: auto;
        top: -24px;
        right: 10px;
        transform: rotate(5deg);
    }
    img.movie-banner {
        max-width: 100%;
        height: auto;
    }
    .africans-with-mainframes-poster-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    img.africans-with-mainframes-poster {
        max-height: 325px;
        width: auto;
        max-width: 100%;
    }
    .event-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        flex: 40%;
        padding: 10px;
    }
    .eventTitle {
        font-family: "Archivo Black", sans-serif;
        font-size: 2.5rem;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .event-time {
        margin-top: 20px;
    }
    .actions-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .actions-row .button-link {
        flex: 1;
        background-color: var(--accent);
        border-radius: 40px;
        text-transform: uppercase;
        font-family: "Archivo Black", sans-serif;
        font-size: 2rem;
        padding: 0.5rem 0;
        text-decoration: none;
        color: var(--base-dark);
        text-align: center;
    }
    .actions-row .button-link:first-of-type {
        margin-right: 5px;
    }
    .actions-row .button-link:last-of-type {
        margin-left: 5px;
    }
    .description,
    .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .description {
        margin-right: 10px;
        white-space: pre-line;
    }
    .details {
        margin-left: 10px;
    }
    .details.africans-with-mainframes > div {
        margin-bottom: 10px;
    }

    @media screen and (max-width: 800px) {
        .event-month {
            top: -25px;
            left: 15px;
            font-size: 3rem;
        }
        .eventTitle {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .event-details {
            padding: 0 10px;
        }
        .event-date,
        .event-location,
        .event-time {
            font-size: 1rem;
        }
        .event-time {
            margin-top: 10px;
        }
        .actions-row .button-link {
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 650px) {
        .banner-row {
            flex-direction: column;
        }
        .eventTitle {
            text-align: center;
        }
        .image-container {
            max-height: 100%;
            margin-right: 0;
        }
        .event-details {
            padding: 0;
            margin: 10px 0;
            align-items: center;
            text-align: center;
        }
        .actions-row {
            flex-direction: column;
            margin: 10px 0 25px 0;
        }
        .actions-row .button-link {
            font-size: 1.5rem;
            margin: 5px;
            width: 100%;
        }
    }
    @media screen and (max-width: 550px) {
        .description {
            margin-right: 0;
            margin-bottom: 20px;
        }
        .details {
            margin-left: 0;
        }
        .africans-with-mainframes-poster-container {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
</style>
